.doc-page {}

.doc-sec {
    flex: 1;
    padding: 260px 0 160px;
    background: #F1EEF8;
}

.doc-sec__container {
    max-width: 960px;
    margin: 0 auto;
}

.doc-sec__title {
    font-family: $titleFont;
    font-size: 48px;
    font-weight: 600;
    color: $black1;
    margin: 0 0 20px;
    line-height: 1.2;
}

.doc-sec__date-pill {
    display: inline-block;
    margin-bottom: 80px;
    padding: 16px 25px;
    border-radius: 100px;
    font-weight: 700;
    font-size: 16px;
    color: $black1;

    border: solid 1px rgba(13, 13, 13, 0.4);
}

.doc-sec__date-value {
    font-weight: 600;
    color: $black1;
}

.doc-sec__text {
    font-family: $textFont;
    font-size: 16px;
    line-height: 1.6;
    color: $black1;

    h2 {
        font-family: $titleFont;
        font-size: 22px;
        font-weight: 700;
        color: $black1;
        margin: 32px 0 12px;
        line-height: 1.3;

        &:first-child {
            margin-top: 0;
        }
    }

    h3 {
        font-family: $titleFont;
        font-size: 17px;
        font-weight: 700;
        color: $black1;
        margin: 20px 0 8px;
        line-height: 1.3;
    }

    p {
        margin-bottom: 30px;
        line-height: 1.3;
        font-size: 18px;
    }

    ul {
        margin: 0 0 16px;
        padding-left: 24px;
    }

    li {
        line-height: 1.3;
        font-size: 18px;
        margin-bottom: 6px;
        position: relative;
        list-style-type: disc;
    }

    strong {
        font-weight: 700;
    }
    a{
        text-decoration: underline;
        color: $blue1;
        
        font-weight: 500;
    }
}

.doc-sec__back {
    display: inline-block;
    margin-top: 24px;
    font-family: $titleFont;
    font-weight: 600;
    color: $blue1;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.8;
    }
}

@media only screen and (max-width: 1400px) {
    .doc-sec {
        padding-top: 160px;
        padding-bottom: 135px;
    }

    .doc-sec__title {
        font-size: 42px;
    }

    .doc-sec__date-pill {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 1050px) {}

@media only screen and (max-width: 765px) {
    .doc-sec {
        padding-top: 160px;
        padding-bottom: 80px;
    }

    .doc-sec__title {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .doc-sec__date-pill {
        padding: 12px 20px;
        font-size: 14px;
        line-height: 1;
        margin-bottom: 40px;
    }


    .doc-sec__text {


        h2 {}

        h3 {}

        p {
            margin-bottom: 30px;
            line-height: 1.3;
            font-size: 16px;
        }



        li {

            font-size: 16px;

        }


    }
}