.header {
    position: fixed;
    z-index: 100;
    width: 100%;
    left: 0;
    top: 63px;

    transition: all 0.3s ease;

    &.active {
        transform: translateY(-150px);
    }

    &.scrolled {
        top: 40px;
    }
}

.header__container {
    width: 990px;
    margin: 0 auto;
    background: linear-gradient(117.91deg, rgba(255, 255, 255, 0.36) 31.52%, #FFFFFF 111.29%);
    /* white */
    position: relative;
    z-index: 2;
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(7px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 100px;
    padding: 8px 8px 8px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: block;
    width: 136px;
}

.header__logo-img {
    width: 100%;
    display: block;
}

.header__header-nav-list {
    display: flex;
    gap: 48px;
}

.header__header-nav-element {
    font-size: 18px;
    font-weight: 700;
}

.header__header-nav-link {
    color: $violet1;
    transition: all ease 0.3s;

    &:hover {
        color: $blue1;
        transition: all ease 0.3s;
    }

    &--active {
        color: $blue1;
    }
}

.header__right {
    display: flex;
    align-items: center;
}

.header__btn {
    display: inline-flex;
    align-items: center;
    padding: 16px 12px 16px 20px;
    border-radius: 100px;
    background: #D2C9FF;
    box-shadow: inset 0px 0px 8.7px rgba(255, 255, 255, 0.42);
    border-radius: 100px;
    cursor: pointer;
    transition: all ease 0.3s;

    svg {
        display: block;

        path {
            transition: all ease 0.3s;
        }
    }

    &:hover {
        background: $blue1;
        transition: all ease 0.3s;

        .header__btn-text {
            color: $white;
            transition: all ease 0.3s;
        }

        svg {
            path {
                transition: all ease 0.3s;
                stroke: $white;
            }
        }

    }
}

.header__btn-text {
    margin-right: 4px;
    font-size: 18px;
    font-weight: 700;
    color: $black1;
    line-height: 1;
    transition: all ease 0.3s;
}

.burger-meny {
    display: none;
    width: 50px;
    height: 50px;
    background: radial-gradient(50% 50% at 50% 50%, #D1C1FF 0%, rgba(255, 255, 255, 0.6) 100%);
    box-shadow: inset 0px 0px 6px rgba(255, 255, 255, 0.62);
    border-radius: 16px;

    justify-content: center;
    align-items: center;
    position: relative;

    &.active {
        .burger-meny__line--1 {
            transform: translateY(0) rotate(45deg);
        }

        .burger-meny__line--2 {
            transform: translateY(0) rotate(-45deg);
        }
    }
}

.burger-meny__line {
    width: 25px;
    height: 2px;
    border-radius: 10px;
    position: absolute;
    background: $black1;
    transition: all ease 0.3s;
}

.burger-meny__line--1 {
    transform: translateY(-4px);
}

.burger-meny__line--2 {
    transform: translateY(4px);
}

.header__mob-meny {
    display: none;
    position: fixed;
    z-index: 1;
    top: 98px;
    right: calc(50% - 375px);
    width: 200px;
    background: linear-gradient(117.91deg, rgba(255, 255, 255, 0.36) 31.52%, #FFFFFF 111.29%);
    /* white */
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(7px);
    border-radius: 20px;
    padding: 20px;
    transform: translateY(-500px);
    transition: all ease 0.5s;
    opacity: 0;


}

@media only screen and (max-width: 1400px) {}

@media only screen and (max-width: 1050px) {
    .header__mob-meny {
        top: 140px;
    }

    .header {
        // padding-top: 20px;


        &.scrolled {
            top: 63px;


        }
    }

    .header__container {
        width: 750px;

        .header__btn {
            display: none;
        }

        .header__header-nav {
            display: none;
        }
    }



    .header__btn-text {
        font-size: 16px;
    }

    .header__btn {
        padding: 12px;
        padding-left: 18px;
    }

    .burger-meny {
        display: flex;
    }

    .header__mob-meny {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        .header__header-nav-list {
            display: block;
        }

        .header__header-nav-element {
            margin: 0;
            text-align: right;
            margin-bottom: 15px;
        }

        .header__btn {
            width: 100%;
            justify-content: center;
            margin-top: 30px;
        }

        &.active {
            transform: translateY(0);
            opacity: 1;
        }

    }
}

@media only screen and (max-width: 765px) {
    .header__container {
        width: 350px;
    }
    .header__mob-meny{
        width: 350px;
        right: calc(50% - 175px);
    }

    .header__logo {
        width: 120px;
    }

    .header__mob-meny {
        right: calc(50% - 175px);
    }
    .header__header-nav{
        width: 100%;
    }
    .header__mob-meny .header__header-nav-element{
        text-align: center;
    }

}