.header-title-box__subtitle-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.header-title-box__subtitle-dot {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: $blue1;
  display: block;
}

.header-title-box__subtitle-text {
  font-size: 14px;
  font-weight: 400;
  color: $black1;
  margin-left: 8px;
  text-transform: uppercase;
  line-height: 1;
}

.header-title-box__title {
  text-align: center;

  font-family: $titleFont;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  /* black */
  color: $black1;

  b {
    font-weight: 600;
    color: $blue1;
  }

}

.header-title-box__description {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  color: $black1;
  line-height: auto;
}



.predistable-sec {
  background: #F1EEF8;
  padding: 160px 0;
}

.predistable-sec__btn-row {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.predistable-sec__btn {
  display: inline-flex;
  align-items: center;
  width: 265px;
  padding: 8px;
  border-radius: 100px;
  background: $blue1;
  box-shadow: inset 0px 0px 9.1px rgba(255, 255, 255, 0.25);
  transition: all ease 0.3s;

  &:hover {
    transform: scale(1.02);
    transition: all ease 0.3s;
  }
}

.predistable-sec__btn-text {
  color: $white;
  font-weight: 600;
  font-size: 16px;
  width: calc(100% - 40px);

}

.predistable-sec__btn-icon {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: $white;
  border-radius: 100px;

  svg {
    display: block;
  }

}

.predictable-outreach__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 блока в ряду */
  gap: 20px;
  margin-top: 80px;
  gap: 20px;
}

.po-card {
  /* Frame 18 */
  padding: 30px;
  gap: 32px;
  background: #F7F5FB;
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(7px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 30px;
  margin-bottom: 30px;
  position: relative;
  transition: all ease 0.3s;

  &::before {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    left: 0px;
    top: 0px;
    position: absolute;
    content: '';
    opacity: 0;
    z-index: 1;
    transition: all ease 0.5s;
    border-radius: 28px;
    background: linear-gradient(146.06deg, #EAE6F9 4.29%, #D1C7FC 98.5%);
  }


  &:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
    border: solid 1px #D2C9FF;

    &::before {
      opacity: 1;
      transition: all ease 0.5s;

    }
  }
}

.po-card__top {
  width: 100%;
  height: 182px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.po-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 16px;
}

.po-card__body {
  margin-top: 32px;
  position: relative;
  z-index: 2;
}

.po-card__title {
  font-size: 24px;
  font-family: $titleFont;
  font-weight: 600;
  margin-bottom: 20px;
}

.po-card__list-element {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.po-card__list-element-icon {

  width: 28px;
  height: 28px;

  background: radial-gradient(50% 50% at 50% 50%, #D1C1FF 0%, rgba(255, 255, 255, 0.2) 100%);
  box-shadow: inset 0px 0px 6px rgba(255, 255, 255, 0.62);
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    display: block;
  }
}

.po-card__list-element-text {
  width: calc(100% - 28px);
  font-size: 16px;
  color: $violet1;
  padding-left: 16px;
  line-height: 1.2;
}



.fit-sec {
  overflow: visible;
  padding: 160px 0;
  background: $black1;

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.fit-sec__header {
  width: 550px;
  position: sticky;
  top: 60px;

  .header-title-box__subtitle-dot {
    background: $violet2;
  }

  .header-title-box__subtitle-text {
    color: $white;
  }

  .header-title-box__subtitle-row {
    justify-content: flex-start;
  }

  .header-title-box__title {
    text-align: left;
    color: $white;

    b {
      color: $violet2;
    }
  }

  .predistable-sec__btn {
    margin-top: 40px;
  }
}

.fit-sec__cards {
  width: 664px;
}

.fit-card {
  width: 100%;
  position: relative;
  border-radius: 30px;
  border: solid 1px #3F3F3F;
  background: linear-gradient(180deg, #0D0D0D 0%, #1A1A1A 100%);
  margin-bottom: 20px;
  position: sticky;
  top: 20px;

  @for $i from 1 through 10 {

    // 10 карточек, меняем по необходимости
    &:nth-child(#{$i}) {
      top: #{20 * $i}px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    content: "";
    /* Rectangle 27 */
    transition: all ease 0.3s;
    opacity: 0;
    border-radius: 28px;
    background: linear-gradient(124.77deg, #0D0D0D 33.22%, #343046 73.55%);
  }

  &:hover {
    &::before {
      opacity: 1;
      transition: all ease 0.3s;
    }
  }

}

.fit-card__header {
  padding: 30px;
  border-bottom: solid 1px #3F3F3F;
  position: relative;
  z-index: 2;
}

.fit-card__title {
  font-family: $titleFont;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 1.3;
  margin-bottom: 10px;
  color: $white;
}

.fit-card__subtitle {
  color: $grey1;
  font-size: 16px;
}

.fit-card__body {
  padding: 30px;
  position: relative;
  z-index: 2;
}

.fit-card__body-title {

  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: $grey1;
  margin-bottom: 30px;
}

.fit-card__list-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.fit-card__list-element-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  /* lucide/check */

  width: 28px;
  height: 28px;

  background: linear-gradient(180deg, #0D0D0D 0%, #1A1A1A 100%);
  /* inner_shadow */
  box-shadow: inset 0px 0px 16px rgba(63, 63, 63, 0.62);
  border-radius: 100px;




  svg {
    display: block;
  }
}

.fit-card__list-element-text {
  width: calc(100% - 28px);
  padding-left: 16px;
  font-size: 16px;
  color: $white;
}


.plans-sec {
  height: 500px;
}





@media only screen and (max-width: 1400px) {
  .header-title-box__title {
    font-size: 38px;
    line-height: 1.2;
  }

  .header-title-box__description {
    font-size: 16px;
  }

  .po-card {
    padding: 15px;
    padding-bottom: 20px;
    border-radius: 20px;
    margin-bottom: 20px;

    &::before {
      border-radius: 18px;
    }
  }

  .po-card__title {
    line-height: 1.2;
    font-size: 20px;
  }

  .po-card__top {
    height: 160px;
  }

  .po-card__body {
    margin-top: 20px;
  }

  .po-card__list-element-text {
    font-size: 14px;
    padding-left: 10px;
  }

  .predictable-outreach__cards {
    margin-top: 60px;
  }

  .predistable-sec__btn-row {
    padding-top: 20px;
  }

  .predistable-sec__btn {
    padding: 5px;
  }

  .predistable-sec {
    padding: 135px 0;
  }

  .fit-sec {
    padding: 135px 0;
  }

  .fit-sec__header {
    width: 400px;
  }

  .fit-sec__cards {
    width: 550px;
  }

  .fit-card__title {
    font-size: 30px;
  }

  .fit-card__header {
    padding: 20px;
  }

  .fit-card__body {
    padding: 20px;
  }
}

@media only screen and (max-width: 1050px) {

  .predictable-outreach__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
  }

  .po-card {
    margin-bottom: 0;
    flex: 0 1 calc(50% - 20px);
  }

  .predistable-sec__btn-row {
    padding-top: 40px;
  }

  .header-title-box__title {
    span {
      display: none;
    }
  }

  .fit-sec .container {
    flex-wrap: wrap;
  }

  .fit-sec__header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: auto;
    position: relative;

    .header-title-box__subtitle-row {
      justify-content: center;
    }

    .header-title-box__title {
      text-align: center;
    }

    .predistable-sec__btn {

      margin-top: 35px;
    }
  }

  .fit-sec__cards {
    margin-top: 60px;
    width: 100%;
  }

  .fit-card__title {
    font-size: 26px;
  }
}

@media only screen and (max-width: 765px) {
  .predistable-sec {
    padding: 80px 0;
  }

  .header-title-box__subtitle-text {
    font-size: 12px;
  }

  .header-title-box__subtitle-row {
    margin-bottom: 15px;
  }

  .header-title-box__title {
    font-size: 28px;
  }

  .predictable-outreach__cards {
    margin-top: 40px;
  }

  .po-card {
    width: 100%;
    flex: auto;
  }

  .fit-sec {
    padding: 80px 0;
  }

  .fit-card {
    border-radius: 20px;

    &::before {
      border-radius: 18px;
    }
  }

  .fit-card__list-element-text {
    font-size: 14px;
  }

  .fit-card__body-title {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .fit-card__subtitle {
    font-size: 14px;
  }

  .fit-card__title {
    font-size: 24px;
  }
}